<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html>

<head>
    <title>Главная | MathLeagueAdmin</title>

    <th:block  th:insert="~{main-template :: styles}"></th:block>
    <link rel="stylesheet" th:href="@{/css/admin/users.css}" />
    <script th:src="@{/js/main/main_anim1.js}"></script>
    <script th:src="@{/js/admin/users.js}"></script>
</head>

<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>

<body>

<header th:insert="~{main-template :: header}"></header>

<main>
    <section id="user-list" class="section">
        <div class="users-container">
            <h2>Список пользователей</h2>
            <div class="user-table">
                <table>
                    <thead class="names">
                    <tr>
                        <th>ID</th>
                        <th>Имя пользователя</th>
                        <th>Псевдоним</th>
                        <th>Telegram</th>
                        <th>Последний запрос</th>
                        <th>Запрос на обнову</th>
                        <th>Онлайн</th>
                        <th>Роли</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="user : ${allUsers}">
                        <tr>
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.username}"></td>
                            <td th:text="${user.user_nick}"></td>
                            <td th:text="${user.telegramUsername}"></td>
                            <td th:text="${user.lastRequest}"></td>
                            <td th:text="${user.updSessionDate}"></td>
                            <td>
                                <span class="status" th:classappend="${user.online ? 'online' : 'offline'}"></span>
                            </td>
                            <td>
                                <span th:each="role, iterStat : ${user.roles}">
                                <span th:text="${role}"></span><span th:if="${!iterStat.last}">;</span>
                                </span>
                            </td>
                            <td>
                                <button class="action-btn edit-btn" title="Редактировать" type="button"
                                        th:attr="data-user-id=${user.id},data-username=${user.username}, data-user-nick=${user.user_nick}, data-telegram=${user.telegramUsername},data-roles=${user.roles}"><i class="fas fa-edit"></i></button>

                                <button class="action-btn delete-btn"  th:attr="data-user-id=${user.id}" title="Удалить"><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>


                </table>
            </div>
        </div>
    </section>


    <div class="popup-container" id="editPopupContainer">
        <button class="close-btn" id="closeEditPopup">&times;</button>
        <h3>Редактирование пользователя</h3>
        <form id="saveUserForm" th:action="@{/admin/saveUser}" method="post">

            <input type="text" id="userId" name="id">

            <label for="editUsername">Новое имя пользователя:</label>
            <input type="text" id="editUsername" name="username">

            <label for="editUserNick">Новый псевдоним:</label>
            <input type="text" id="editUserNick" name="user_nick">

            <label for="editTelegramUsername">Новый телеграм:</label>
            <input type="text" id="editTelegramUsername" name="telegramUsername">

            <label for="editRoles">Роли:</label>
            <div class="role-list">
                <label th:each="role, iterStat : ${allRoles}" class="role-item">
                    <input type="checkbox" id="editRoles" name="roles" th:value="${role}">
                    <span th:text="${role}"></span>
                </label>
            </div>



            <button type="submit" class="submit-btn">Сохранить</button>
        </form>
    </div>
</main>

<footer th:insert="~{main-template :: footer}"></footer>

</body>