@font-face {
    font-family: Gropled;
    src: url('/font/gropled-bold.otf') format('opentype');
}

@font-face {
    font-family: AvenirNextCyrRegular;
    src: url('/font/avenirnextcyr-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: AvenirNextCyrRegular, sans-serif;
}


header, footer{
    background-color: #4094cd;
    color: white;
}

header{

    height: auto;
    display: flex;
    flex-direction: column;
}

/*header*/
.bot-panel{

    font-family: Gropled, sans-serif;
    line-height: 1.6;

    /*background-color: #1c2151;*/
    flex: 0.4;
    text-align: center;

    .name{font-size: 48px;}

    .desc{font-size: 24px; margin-bottom: 10px;}
}

/*header*/
.top-panel{
    /*background-color: #2d3582;*/
    flex: 0.6;
    display: flex;
    flex-direction: row;
}

.logo img{
    margin: 5px 10px;
    width: 80px;
    height: 80px;
}

main{
    background-color: white;
    flex-grow: 1;
}

footer{
    height: auto;

    padding: 2%;


}

/*footer*/
.info{
    width: 100%;
    height: 100%;
    text-align: center;
}

/*--------------NAVIGATION MENU-------------------*/

.top-panel{

    min-height: 12vh;
    align-items: center;
    margin-right: 1%;

}

/*top-panel*/
.nav-panel{
    margin-left: auto;
}

/*top-panel*/
.navigation-main{
    list-style: none;
    flex-direction: row;
    display: flex;
}

.navigation-main  li a {
    color: white;
    text-decoration: none;
}

.navigation-main li a:hover {
    color: #FF478E;
}

.nav-panel-link {
    padding: 10px 20px;
    background-color: transparent;
    color: #333333;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease;
    position: relative;
}

.nav-panel-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.4s ease;
}

.nav-panel-link:hover::before {
    transform: scaleX(1);
}

/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*                      DROP DOWN STYLES                                          */


.dropdown {
    position: relative;
  }

  .dropdown-menu {
      width: 100%;
      position: absolute;
      top: calc(100% + 11px); /* Расстояние между ссылкой и выпадающим меню */
      left: 0;
      z-index: 1;
      display: none;
      background-color: #FFFFFF;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 0;
      list-style: none;
      margin: 0;
      border-radius: 4px;
      text-align: center;
  }

  .dropdown:hover .dropdown-menu {
      display: block;
  }

  .dropdown-menu li {
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
  }

  .dropdown-menu li::after {
    content: "";
    position: absolute;
    width: 80%; /* Ширина полоски */
    height: 1px; /* Толщина полоски */
    background-color: #CCCCCC; /* Цвет полоски */
    bottom: 0;
    left: 10%; /* Расположение полоски (10% отступ слева) */
  }

  .dropdown-menu li a {
      display: block;
      margin: 10px;
      word-wrap: break-word;
      width: 100%;
      color: #333333;
      text-decoration: none;
      transition: color 0.3s ease;
  }

  .dropdown-menu li a:hover {
    color: #FF478E;
  }

  .dropdown-menu li.admin-type a:hover {
    color: #ff4d4d;
  }


/*-------------------------------------------------------------------------------*/