<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html>

<head>
    <title th:text="${problem.title}"></title>

    <th:block  th:insert="~{main-template :: styles}"></th:block>
    <link rel="stylesheet" th:href="@{/css/latex/latex.css}" />
    <link rel="stylesheet" th:href="@{/css/latex/refresh-button.css}" />
    <script th:src="@{/js/main/main_anim1.js}"></script>


</head>

<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<meta id="taskId" th:content="${problem.id}" />

<body>

<header th:insert="~{main-template :: header}"></header>

<main>
    <div class="main-col">

        <div class="my-panel" id="tabbtop">
            <div class="name">
                <p id="taskname" th:text="${problem.title}">Название задачи</p>
                <button id="edit-name-btn" onclick="toggleEditMode()">
                    <i class="fas fa-edit"></i>
                </button>
            </div>
        </div>

        <div class="my-panel">
            <div class="under-editor">
                <a>Условие задачи</a>
            </div>
            <div class="under-result">
                <a>Предпросмотр</a>
                <button class="update-button" onclick="performPostRequest()">
                    <span class="loader"></span>
                    обновить
                </button>
            </div>
        </div>

        <div class="my-container">

            <div id="code-content">
                <div class="editor-container">
                    <div id="editor" th:text="${problem.latexCode}">// Program to reverse a string</div>
                </div>
            </div>

            <div id="separator" ></div>

            <div id="result-content">
                <div class="latex-image">
                    <img id="resultImage" src="/weekly-problems/image/" alt="your image">
                </div>
            </div>

        </div>


    </div>
</main>

<footer th:insert="~{main-template :: footer}"></footer>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ext-language_tools.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/mode-latex.js"></script>

<script th:src="@{/js/latex/latex-editor.js}"></script>
<script th:src="@{/js/latex/name-editor.js}"></script>
<script th:src="@{/js/latex/proj-refresh.js}"></script>

</html>




