<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MathLeagueAdmin</title>
    <link rel="stylesheet" th:href="@{/css/main_style.css}" />
    <link rel="stylesheet" th:href="@{/css/main/sections.css}" />
    <link rel="stylesheet" th:href="@{/css/main/panel.css}" />
    <script th:src="@{/js/main/main_anim1.js}"></script>
</head>
<body>
<header>
    <nav>
        <div class="logo">
            <img src="/images/logo.png" alt="MathLeagueAdmin Logo">
        </div>
        <ul class="navigation">
            <li><button class="tab-button" data-target="main">Главная</button></li>
            <li><button class="tab-button" data-target="news">Новости</button></li>
            <li><button class="tab-button" data-target="events">Мероприятия</button></li>
            <li><button class="tab-button" data-target="profile">Профиль</button></li>
        </ul>
    </nav>
    <div class="hero">
        <h1>MathLeagueAdmin</h1>
        <p>Your ultimate admin solution for math competitions.</p>
        <a href="#section1" class="btn">Get Started</a>
    </div>
</header>

<main>
    <section id="section1" class="section">
        <div class="section-container">
            <div class="section-content">
                <div class="section-description">
                    <h2>Задачи недели</h2>
                    <p>Меняйте распорядок, время и очередь публикации задач дня!</p>
                    <a href="#" class="btn btn-animated">Перейти к задачам</a>
                </div>
                <div class="section-image">
                    <img src="/images/task_example.jpg" alt="Пример задачи дня">
                </div>
            </div>
        </div>
    </section>

    <section id="section2" class="section even">
        <div class="section-container">
            <div class="section-content">
                <div class="section-description">
                    <h2>Minecraft сервер матлиги</h2>
                    <p>Заходите, играйте и наслаждайтесь этой прекрасной игрой вместе с коллегами!</p>
                    <a href="#" class="btn btn-animated">Играть!</a>
                </div>
                <div class="section-image">
                    <img src="/images/test_image.jpg" alt="майнкрафт">
                </div>
            </div>
        </div>
    </section>

    <section id="section3" class="section">
        <div class="section-container">
            <div class="section-content">
                <div class="section-description">
                    <h2>Победы в реальном бою</h2>
                    <p>Участвуйте в реальных боевых действиях на стороне наших спонсоров &ndash; ЧВК "Вагнер"!</p>
                    <a href="#" class="btn btn-animated">В бой!</a>
                </div>
                <div class="section-image">
                    <img src="/images/test_image2.jpg" alt="чвк ВАГНЕР">
                </div>
            </div>
        </div>
    </section>

</main>
<footer>
    <div id="footer" class="container">
        <p>&copy; 2023 MathLeagueAdmin. All rights reserved.</p>
        <p>Created by Fedorov Ivan</p>
        <a href="/admin">Admin Page</a>
    </div>
</footer>

</body>
</html>
