<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html>

<head>
    <title>Главная | MathLeagueAdmin</title>

    <th:block  th:insert="~{main-template :: styles}"></th:block>

    <link rel="stylesheet" th:href="@{/css/main/sections.css}" />
    <script th:src="@{/js/main/main_anim1.js}"></script>

</head>

<body>

    <header th:insert="~{main-template :: header}"></header>

    <main>
        <section id="section1" class="section">
            <div class="section-container">
                <div class="section-content">
                    <div class="section-description">
                        <h2>Задачи недели</h2>
                        <p>Меняйте распорядок, время и очередь публикации задач дня!</p>
                        <a href="/weekly-problems/list" class="btn btn-animated">Перейти к задачам</a>
                    </div>
                    <div class="section-image">
                        <img src="/images/task_example.jpg" alt="Пример задачи дня">
                    </div>
                </div>
            </div>
        </section>

        <section id="section3" class="section even">
            <div class="section-container">
                <div class="section-content">
                    <div class="section-description">
                        <h2>Наши материалы</h2>
                        <p>Смотри, читай, изучай! Все самое нужное - в одном Яндекс диске.</p>
                        <a href="https://disk.yandex.ru/d/wwIFubevVF8EeA" class="btn btn-animated">К диску</a>
                    </div>
                    <div class="section-image">
                        <img src="/images/test_image2.jpg" alt="Яндекс диск">
                    </div>
                </div>
            </div>
        </section>

        <section id="section2" class="section">
            <div class="section-container">
                <div class="section-content">
                    <div class="section-description">
                        <h2>Minecraft сервер матлиги</h2>
                        <p>Заходите, играйте и наслаждайтесь этой прекрасной игрой вместе с коллегами!</p>
                        <a href="#" class="btn btn-animated">Играть!</a>
                    </div>
                    <div class="section-image">
                        <img src="/images/test_image.jpg" alt="майнкрафт">
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer th:insert="~{main-template :: footer}"></footer>

</body>