<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html>

<head>
    <title>Главная | MathLeagueAdmin</title>

    <th:block  th:insert="~{main-template :: styles}"></th:block>
    <link rel="stylesheet" th:href="@{/css/latex/latex.css}" />
    <script th:src="@{/js/main/main_anim1.js}"></script>


</head>

<body>

<header th:insert="~{main-template :: header}"></header>

<main>
    <div class="main-col">

        <div class="my-panel" id="tabbtop">
            <div class="name">
                <p id="taskname">Название задачи</p>
                <button id="edit-name-btn" onclick="toggleEditMode()">
                    <i class="fas fa-edit"></i>
                </button>
            </div>
        </div>

        <div class="my-panel">
            <div class="under-editor">
                <a>Введите условие задачи</a>
            </div>
            <div class="under-result">
                <a>Введите условие задачи</a>
            </div>
        </div>

        <div class="my-container">

            <div id="code-content">
                <div class="editor-container">
                    <div id="editor">// Program to reverse a string</div>
                </div>
            </div>

            <div id="separator" ></div>

            <div id="result-content">
                <div class="latex-image">
                    <img src="/images/test_image.jpg" alt="майнкрафт" >
                </div>
            </div>

        </div>


    </div>
</main>

<footer th:insert="~{main-template :: footer}"></footer>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ext-language_tools.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/mode-latex.js"></script>

<script th:src="@{/js/latex/latex-editor.js}"></script>
<script th:src="@{/js/latex/name-editor.js}"></script>

</html>




