.section {
    padding: 100px 0;
    text-align: center;
    background-color: #F2F2F2;

    padding: 90px 0;
    text-align: center;
    margin: 0;
}

.section-container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
}

.section-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.section-description {
    flex: 1;
    text-align: left;
}

.section-description h2 {
    font-size: 48px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 20px;
}

.section-description p {
    font-size: 24px;
    color: #666666;
    margin-bottom: 30px;
}

.section-description .btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #FF478E;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.section-description .btn:hover {
    background-color: #E63A7C;
}

.section-image {
    flex: 1;
    text-align: center;
}

.section-image img {
    width: 560px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section.even {
    background-color: #FFFFFF;
}

.section.even .section-description {
    text-align: right;
}

.section.even .section-image {
    order: -1;
}

.section, .section.even {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section .section-description, .section.even .section-image {
    flex: 1;
    text-align: left;
}

.section .section-image, .section.even .section-description {
    flex: 1;
    text-align: right;
}
